/* Importa as fontes */
@import url('https://fonts.googleapis.com/css2?family=Dramaturgia+Cuba&family=Dancing+Script:wght@400;700&display=swap');

/* Normalização de CSS */
@import url('https://cdn.jsdelivr.net/npm/normalize.css/normalize.css');

/* Variáveis CSS */
:root {
    --primary-color: #ff6347;
    --secondary-color: #ffd700;
    --background-color: #f5ddb0;
    --text-color: #b7870e;
    --white-color: #ffffff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --explosion-color: #ff9900; /* Cor para o efeito hover dos botões */
}

/* Estilos Globais */
body {
    font-family: 'Dramaturgia Cuba', 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-size: 1.5rem; /* Aumentando o tamanho da fonte */
    color: var(--text-color);
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2em 0; /* Aumentando o padding */
    text-align: center;
    box-shadow: var(--box-shadow);
    font-size: 2em; /* Aumentando o tamanho da fonte */
}

/* Menu de Navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5em; /* Aumentando o tamanho da fonte */
    padding: 0.8em 0; /* Aumentando o padding */
    display: block;
}

nav ul li a:hover {
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color);
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    header {
        padding: 1em 0;
    }
    nav ul li a {
        font-size: 1em;
    }
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem; /* Aumentando o tamanho da fonte */
}

/* Seção Principal */
section {
    display: block;
    unicode-bidi: isolate;
    padding: 2em;
    text-align: center;
    margin-bottom: 2em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 1.5rem; /* Aumentando o tamanho da fonte */
    background-color: var(--background-color);
}

/* Seção de Produtos */
#products {
    background-color: #edd19b;
}

/* Estilos para as imagens das pizzas */
.pizza-item img {
    width: 100%; /* Ajusta para 100% da largura disponível */
    max-width: 400px; /* Limita o tamanho máximo da imagem */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

/* Estilos para os botões */
.pizza-item button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 30px; /* Aumentando o padding para um botão mais largo */
    border: none;
    border-radius: var(--border-radius); /* Usando a variável de border-radius */
    cursor: pointer;
    font-size: 1.3em; /* Aumentando o tamanho da fonte para dar mais destaque */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para o botão */
    position: relative; /* Para usar com animações de partículas */
}

/* Efeito de hover para os botões */
.pizza-item button:hover {
    background-color: var(--explosion-color); /* Mudando para a cor de explosão no hover */
    transform: scale(1.1); /* Aumentando o botão um pouco para chamar a atenção */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumentando a sombra no hover */
}

/* Efeito de clique nos botões */
.pizza-item button:active {
    transform: scale(0.95); /* Simulando um efeito de pressionamento */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra mais suave no clique */
}

/* Estilos para o botão de finalizar pedido */
.finalizar-pedido-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 30px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.3em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Efeito de hover para o botão de finalizar pedido */
.finalizar-pedido-button:hover {
    background-color: var(--explosion-color);
    transform: scale(1.1); /* Aumenta o botão no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}

/* Efeito de clique nos botões de finalizar pedido */
.finalizar-pedido-button:active {
    transform: scale(0.95); /* Simula o efeito de pressionamento */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para o botão 'Add to Cart' */
button.add-to-cart {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 15px 30px; /* Aumentando o padding */
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.3em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efeito de hover para o botão 'Add to Cart' */
button.add-to-cart:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Efeito de clique no botão 'Add to Cart' */
button.add-to-cart:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para o botão 'Checkout' */
button#checkoutButton {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 30px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.3em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efeito de hover para o botão 'Checkout' */
button#checkoutButton:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Efeito de clique no botão 'Checkout' */
button#checkoutButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Espaçamento entre a descrição da pizza e o botão "Adicionar ao Carrinho" */
.pizza-item .description {
    margin-bottom: 1.5em; /* Adiciona espaço entre a descrição e o botão */
}

/* Responsividade para imagens das pizzas */
@media (max-width: 768px) {
    .pizza-item img {
        width: 100%; /* Ajusta para 100% da largura disponível */
        max-width: 300px; /* Reduz o tamanho máximo da imagem */
    }
    
    button.add-to-cart,
    button#checkoutButton {
        font-size: 1.2em;
        padding: 10px 20px; /* Ajustando o padding */
    }

    .pizza-item .description {
        margin-bottom: 1em; /* Menos espaçamento em telas menores */
    }
}

/* Animação de Fogos de Artifício */
@keyframes fireworks {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

/* Estilo para as bolinhas */
.firework-particle {
  position: absolute;
  width: 25px; /* Aumentando o tamanho das bolinhas */
  height: 25px; /* Aumentando o tamanho das bolinhas */
  border-radius: 50%;
  background-color: #ff6347;
  animation: fireworks 2s ease-out forwards;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    header {
        padding: 1em 0;
    }
    nav ul li a {
        font-size: 1em;
    }
    .firework-particle {
        width: 20px; /* Tamanho das bolinhas ajustado para telas pequenas */
        height: 20px;
    }
}
